body {
    background-color: #212121;
}

h1 {
    color: white;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.post-vote {
    display: flex;
    background-color: dimgray;
    flex-basis: 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.post-vote button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: dimgray none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.post-vote button:hover {
    color: red;
}

.post-body {
    background-color: #424242;
    flex-basis: 80%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-body i {
    font-size: x-small;
    font-weight: 100;
}

.post-body h2 {
    margin: 0;
}

.post-body p {
    font-size: small;
}

.post-detail {
    background-color: dimgray;
}



