{% extends '_base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Home Page</h1>

    {% for post in posts %}
        <div class="post">
            <div class="post-body">
                <i>Posted by {{ post.author.username }}</i>
                <h2>{{ post.title }}</h2>
                <p>{{ post.body }}</p><br>
            </div>
        <div class="post-vote">
                <button hx-post="{% url 'upvote' post.pk %}"
                hx-trigger="click"
                hx-target="#post-karma-{{ forloop.counter }}"
                hx-swap="innerHTML">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
                <b id="post-karma-{{ forloop.counter }}">{{ post.karma }}</b>
                <button hx-post="{% url 'downvote' post.pk %}"
                hx-trigger="click"
                hx-target="#post-karma-{{ forloop.counter }}"
                hx-swap="innerHTML">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>

                <button>
                    <a href="{{ post.get_absolute_url }}"><i class="fa-solid fa-comment"></i></a>
                </button>
            </div>
        </div>
    {% endfor %}

{% endblock %}


