{% extends "_base.html" %}

{% block title %}
Post
{% endblock %}

{% block content %}
    <div class="post-detail">
<h1>{{ post.title }}</h1>
<h3>By: {{ post.author }}</h3>

<p>{{ post.body }}</p>
<hr>
    <button hx-post="{% url 'upvote' post.pk %}"
                hx-trigger="click"
                hx-target="#post-karma-{{ forloop.counter }}"
                hx-swap="innerHTML">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
                <b id="post-karma-{{ forloop.counter }}">{{ post.karma }}</b>
                <button hx-post="{% url 'downvote' post.pk %}"
                hx-trigger="click"
                hx-target="#post-karma-{{ forloop.counter }}"
                hx-swap="innerHTML">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
<hr>

    <ul>
    {% for comment in post.comments.all %}
        <li>{{ comment.comment }} - <i>{{ comment.user.username }}</i></li>
    {% endfor %}
    </ul>

</div>
{% endblock %}
